@*layout diverso dalla Home
*@

@*link di ritorno all Home
*@
<h1>Snacks:</h1>

@{
    string nome = "Gloria";
    string cognome = "Gherardi";
}


<h2>@nome @cognome</h2>

@*link di ritorno all Home
*@